@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(33, 32, 32);
    color: silver;
}

.titulo-destaque{
    color:  royalblue;
}

.apresentacao{
    margin: 12% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresetacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresetacao_conteudo_titulo{

    font-size: 36px;
    font-family: "PT Sans", serif;;
}

.apresetacao_conteudo_texto{

    font-size: 24px;
    font-family: "Montserrat", serif;
    font-style: italic;
}

.apresentacao_link{
    display: flex;
    justify-content: space-between;
}

.apresentacao_ancora{
    color: #000;
    background-color:dodgerblue;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px 0px;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-style: italic;
    font-weight: 600;
}


.foto{
    border-radius: 16px;
}